nav{
    border: 1px solid black; 
    background-image: url("images/mountain.jpg");
    background-repeat: no-repeat;
    background-size: 135%;
    width: 40%;
    margin:100px 20px 20px 160px;
    height:60vh;
    text-align: center;
    position: relative;
    
}

/*.div1{
    border: 30px solid cyan; 
    width: 30%;
    margin:100px 20px 20px 260px;
    height:60vh;
    position: relative;
}
*/

article{
    position: absolute;
    left:0;
    display: inline;
    width: 30%;
    height:60vh;
    border: 1px solid black; 
    margin-left: 0px;
    text-align: left;
     
}